<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ultronxr.qqrobot.bean.mybatis.mapper.QuartzJobMapper">
  <resultMap id="BaseResultMap" type="cn.ultronxr.qqrobot.bean.mybatis.bean.QuartzJob">
    <id column="job_id" jdbcType="INTEGER" property="jobId" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_group" jdbcType="VARCHAR" property="jobGroup" />
    <result column="job_description" jdbcType="VARCHAR" property="jobDescription" />
    <result column="job_class" jdbcType="VARCHAR" property="jobClass" />
    <result column="job_cron" jdbcType="VARCHAR" property="jobCron" />
    <result column="pause_time_limit" jdbcType="TIMESTAMP" property="pauseTimeLimit" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="attach_files" jdbcType="VARCHAR" property="attachFiles" />
    <result column="sms_contact" jdbcType="VARCHAR" property="smsContact" />
    <result column="email_contact" jdbcType="VARCHAR" property="emailContact" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    job_id, job_name, job_group, job_description, job_class, job_cron, pause_time_limit, 
    status, is_del, attach_files, sms_contact, email_contact, create_time, create_user, 
    update_time, update_user
  </sql>
  <select id="selectByExample" parameterType="cn.ultronxr.qqrobot.bean.mybatis.bean.QuartzJobExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from quartz_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quartz_job
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from quartz_job
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.ultronxr.qqrobot.bean.mybatis.bean.QuartzJobExample">
    delete from quartz_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.ultronxr.qqrobot.bean.mybatis.bean.QuartzJob">
    insert into quartz_job (job_id, job_name, job_group, 
      job_description, job_class, job_cron, 
      pause_time_limit, status, is_del, 
      attach_files, sms_contact, email_contact, 
      create_time, create_user, update_time, 
      update_user)
    values (#{jobId,jdbcType=INTEGER}, #{jobName,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR}, 
      #{jobDescription,jdbcType=VARCHAR}, #{jobClass,jdbcType=VARCHAR}, #{jobCron,jdbcType=VARCHAR}, 
      #{pauseTimeLimit,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, 
      #{attachFiles,jdbcType=VARCHAR}, #{smsContact,jdbcType=VARCHAR}, #{emailContact,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ultronxr.qqrobot.bean.mybatis.bean.QuartzJob">
    insert into quartz_job
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        job_id,
      </if>
      <if test="jobName != null">
        job_name,
      </if>
      <if test="jobGroup != null">
        job_group,
      </if>
      <if test="jobDescription != null">
        job_description,
      </if>
      <if test="jobClass != null">
        job_class,
      </if>
      <if test="jobCron != null">
        job_cron,
      </if>
      <if test="pauseTimeLimit != null">
        pause_time_limit,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="attachFiles != null">
        attach_files,
      </if>
      <if test="smsContact != null">
        sms_contact,
      </if>
      <if test="emailContact != null">
        email_contact,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jobId != null">
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null">
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null">
        #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="jobDescription != null">
        #{jobDescription,jdbcType=VARCHAR},
      </if>
      <if test="jobClass != null">
        #{jobClass,jdbcType=VARCHAR},
      </if>
      <if test="jobCron != null">
        #{jobCron,jdbcType=VARCHAR},
      </if>
      <if test="pauseTimeLimit != null">
        #{pauseTimeLimit,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="attachFiles != null">
        #{attachFiles,jdbcType=VARCHAR},
      </if>
      <if test="smsContact != null">
        #{smsContact,jdbcType=VARCHAR},
      </if>
      <if test="emailContact != null">
        #{emailContact,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.ultronxr.qqrobot.bean.mybatis.bean.QuartzJobExample" resultType="java.lang.Long">
    select count(*) from quartz_job
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update quartz_job
    <set>
      <if test="record.jobId != null">
        job_id = #{record.jobId,jdbcType=INTEGER},
      </if>
      <if test="record.jobName != null">
        job_name = #{record.jobName,jdbcType=VARCHAR},
      </if>
      <if test="record.jobGroup != null">
        job_group = #{record.jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.jobDescription != null">
        job_description = #{record.jobDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.jobClass != null">
        job_class = #{record.jobClass,jdbcType=VARCHAR},
      </if>
      <if test="record.jobCron != null">
        job_cron = #{record.jobCron,jdbcType=VARCHAR},
      </if>
      <if test="record.pauseTimeLimit != null">
        pause_time_limit = #{record.pauseTimeLimit,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.attachFiles != null">
        attach_files = #{record.attachFiles,jdbcType=VARCHAR},
      </if>
      <if test="record.smsContact != null">
        sms_contact = #{record.smsContact,jdbcType=VARCHAR},
      </if>
      <if test="record.emailContact != null">
        email_contact = #{record.emailContact,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update quartz_job
    set job_id = #{record.jobId,jdbcType=INTEGER},
      job_name = #{record.jobName,jdbcType=VARCHAR},
      job_group = #{record.jobGroup,jdbcType=VARCHAR},
      job_description = #{record.jobDescription,jdbcType=VARCHAR},
      job_class = #{record.jobClass,jdbcType=VARCHAR},
      job_cron = #{record.jobCron,jdbcType=VARCHAR},
      pause_time_limit = #{record.pauseTimeLimit,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER},
      attach_files = #{record.attachFiles,jdbcType=VARCHAR},
      sms_contact = #{record.smsContact,jdbcType=VARCHAR},
      email_contact = #{record.emailContact,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ultronxr.qqrobot.bean.mybatis.bean.QuartzJob">
    update quartz_job
    <set>
      <if test="jobName != null">
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null">
        job_group = #{jobGroup,jdbcType=VARCHAR},
      </if>
      <if test="jobDescription != null">
        job_description = #{jobDescription,jdbcType=VARCHAR},
      </if>
      <if test="jobClass != null">
        job_class = #{jobClass,jdbcType=VARCHAR},
      </if>
      <if test="jobCron != null">
        job_cron = #{jobCron,jdbcType=VARCHAR},
      </if>
      <if test="pauseTimeLimit != null">
        pause_time_limit = #{pauseTimeLimit,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="attachFiles != null">
        attach_files = #{attachFiles,jdbcType=VARCHAR},
      </if>
      <if test="smsContact != null">
        sms_contact = #{smsContact,jdbcType=VARCHAR},
      </if>
      <if test="emailContact != null">
        email_contact = #{emailContact,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ultronxr.qqrobot.bean.mybatis.bean.QuartzJob">
    update quartz_job
    set job_name = #{jobName,jdbcType=VARCHAR},
      job_group = #{jobGroup,jdbcType=VARCHAR},
      job_description = #{jobDescription,jdbcType=VARCHAR},
      job_class = #{jobClass,jdbcType=VARCHAR},
      job_cron = #{jobCron,jdbcType=VARCHAR},
      pause_time_limit = #{pauseTimeLimit,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      attach_files = #{attachFiles,jdbcType=VARCHAR},
      sms_contact = #{smsContact,jdbcType=VARCHAR},
      email_contact = #{emailContact,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
</mapper>